.header_base {
  background-color: #ffdc91;
  background-size: cover;
  background-position: center;
  padding: 0.2em;
}

.header_base h1 {
  text-align: center;
  color: #b28701;
  text-shadow: 1px 1px 2px beige;
  font-size: 3em;
}
