<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activitat 20221022 | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="container">
      <div class="responsive-image-container">
        <img src="/ONGAmicsdenFerran/assets/images/activitats/activitat20221022/20221122_1.png"
             alt="Activitat 20221122">
      </div>
    </div>
    <br>
    <div class="container">
      <div class="responsive-image-container">
        <img src="/ONGAmicsdenFerran/assets/images/activitats/activitat20221022/20221122_2.png"
             alt="Activitat 20221122">
      </div>
    </div>
  </body>
</html>

<app-footer></app-footer>

