<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activitats | Amics d'en Ferran</title>
</head>

<body>
  <div class="activitats-container">
    <ul>
      <li><a routerLink="/activitat20260314">14/03/2026 · Migas Solidàries amb Sam Sam</a></li>
      <li><a routerLink="/activitat20251221">21/12/2025 · Dinar Nadalenc Solidari per Sam Sam</a></li>
      <li><a routerLink="/activitat20251129">29/11/2025 · Teatre Solidari · Sala d'espera · Fem Teatre Fem</a></li>
      <li><a routerLink="/activitat20251010">10-11/10/2025 · Sam Sam Festival 2025</a></li>
      <li><a routerLink="/activitat20250910">10/09/2025 · Sam Sam Solidaritat i Educació</a></li>
      <li><a routerLink="/activitat20250601">01/06/2025 · Caminada Solidària 2025</a></li>
      <li><a routerLink="/activitat20250322">22/03/2025 · Migas Solidàries per Sam Sam</a></li>
      <li><a routerLink="/activitat20240602">02/06/2024 · Caminada Solidària · Melindros con Chocolate</a></li>
      <li><a routerLink="/activitat20240525">25/05/2024 · Teatre Solidari · Cuéntame un Cuento · Dones d'Egara</a></li>
      <li><a routerLink="/activitat20240413">13/04/2024 · Ballada Country Solidària · Country Matadepera</a></li>
      <li><a routerLink="/activitat20240224">24/02/2024 · Migas Solidàries</a></li>
      <li><a routerLink="/activitat20231202">02/12/2023 · Pablo Gómez en Estat Pur</a></li>
      <li><a routerLink="/activitat20231125">25/11/2023 · Teatre Solidari · Se Casa el Nipi con la Juani · Elías Torres</a></li>
      <li><a routerLink="/activitat20230909">09/09/2023 · Trobada Solidària per Sam Sam i Botifarrada</a></li>
      <li><a routerLink="/activitat20230528">28/05/2023 · Caminada Solidària · Melindros con Chocolate</a></li>
      <li><a routerLink="/activitat20230415">15/04/2023 · Homenaje a Santi Caballero</a></li>
      <li><a routerLink="/activitat20221126">26/11/2022 · Teatre Solidari · Silenci... Es vota · Anna Bitrià Navarro i Carme Dencàs Auret</a></li>
      <li><a routerLink="/activitat20221022">22/10/2022 · Concert Solidari · Grup PANELA</a></li>
      <li><a routerLink="/activitat20220529">29/05/2022 · Caminada Solidària · Festa Major les Arenes · Melindros con Chocolate</a></li>
      <li><a routerLink="/activitat20220528">28/05/2022 · Teatre Solidari · Melocotón en Almíbar · Sin Memoriam Teatre Band</a></li>
      <li><a routerLink="/activitat20220507">07/05/2022 · Festival de Música i Humor per Sam Sam</a></li>
      <li><a routerLink="/activitat20220402">02/04/2022 · Teatre Solidari · ¡Viva la Nuit! · -ES</a></li>
      <li><a routerLink="/activitat20220209">09/02/2022 · Pintura Solidària · Obres de l'Artista Joan Sala</a></li>
      <li><a routerLink="/activitat20211120">20/11/2021 · Teatre Solidari · Prohibido Suicidarse Mañana · Associació de Teatre Mú</a></li>
    </ul>
  </div>
</body>
</html>

<app-footer></app-footer>
