.activitats-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.activitats-container ul {
  list-style: none;
  padding: 0;
}

.activitats-container li {
  margin: 15px 0;
}

.activitats-container a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.activitats-container li:nth-child(odd) a {
  color: #333333;
  background-color: #f4e3c1;
}

.activitats-container li:nth-child(even) a {
  color: #333333;
  background-color: #b2e6fa;
}

.activitats-container a:hover {
  background-color: #ffffff !important;
  color: #483600 !important;
  border-color: #483600!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
