<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activitat 20211120 | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="container">
      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitat20211120/20211120.png"
             alt="Activitat 20211120">
      </div>
    </div>
  <br>
  <div class="container">
    <div class="responsive-image-container">
      <img src="/assets/images/activitats/activitat20211120/20211120.jpeg"
           alt="Activitat 20211120">
    </div>
  </div>
  </body>
</html>

<app-footer></app-footer>

