<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galeria | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="activitats-container">

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/galeria/galeria_1.jpg"
             alt="Galeria 1">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/galeria/galeria2.jpeg"
             alt="Galeria 2">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/galeria/galeria_3.jpg"
             alt="Galeria 3">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/galeria/galeria4.jpeg"
             alt="Galeria 4">
      </div>
      <br>

    </div>
  </body>
</html>

<app-footer></app-footer>
