<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>

<footer>
  <div class="social-icons">
    <a href="https://www.instagram.com/instaamicsferran" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram" style="font-size: 24px;"></i>
    </a>
    <a href="https://www.facebook.com/amics.ferran" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook" style="font-size: 24px;"></i>
    </a>
  </div>
  <p>&copy; 2024 ONG Amics d'en Ferran. Tots els drets reservats.</p>
</footer>

