<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activitat Colònies 2021 - 2022 | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="container">

      <h2>Aquest estiu nens i nenes de Sam Sam han anat de colònies, moltes gràcies per fer-ho possible!</h2>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/PTZXVA8RJSY?si=Z-Qnz11NM-vZMKS_"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <h2>Algunes fotos de les colònies..</h2>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_1.jpeg"
           alt="Activitat Colònies 202012022">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_2.jpeg"
             alt="Activitat Colònies 202012022">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_3.jpeg"
             alt="Activitat Colònies 202012022">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_4.jpeg"
             alt="Activitat Colònies 202012022">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_5.jpeg"
             alt="Activitat Colònies 202012022">
      </div>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitatcolonies20212022/colonies20212022_6.jpeg"
             alt="Activitat Colònies 202012022">
      </div>

      <br>

      <h2>Alguns vídeos..</h2>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/L2Pi9HTjvuw?si=CxGqFz3TqWj3N_Is"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/P-TaUdyvt5A?si=LDCYLCp1DNH8drzu"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/xeAu9btZwbQ?si=QVSWnIX7TH3DXQJm"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/8aDohHu9-9U?si=DlWqpI0egXsLuhM8"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/mR4tByxrqlk?si=4Pi4sbMTj7_SDSow"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/F0YEk_HSfc0?si=UpnL8d3ApHjwWEP-"
          title="Colònies Sam Sam 2021 - 2022"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

    </div>
  </body>
</html>

<app-footer></app-footer>
