<app-header></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="ONG Amics d'en Ferran" />
    <meta property="og:description" content="Web de l'ONG Amics d'en Ferran, que realitza accions
    culturals per ajudar al projecte d'escolarització de nens i nenes i dones de Sam Sam." />
    <meta property="og:image" content="https://www.amicsdenferran.com/assets/images/inici/1-inici.png" />
    <meta property="og:url" content="https://www.amicsdenferran.com" />
    <meta property="og:type" content="website" />

    <title>Inici | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="container">

      <div class="responsive-image-container">
        <img src="/assets/images/inici/1-inici.png"
             alt="ONG Amics d'en Ferran">
      </div>

      <br>
      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/activitats/activitat20250910/20250910.jpeg"
             alt="ONG Amics d'en Ferran">
      </div>

      <br>
      <br>

      <h2>Colònies Sam Sam</h2>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/wM4cIY3tp54?si=MiS3tvB7AlVszMRS"
          title="Colònies Sam Sam"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
      <br>
      <p>
        La nostra ONG col·labora amb Ferran Sans i segueix els seus objectius educatius al Senegal concretament a
        Sam Sam - Dakar on es realitzen escoles comunitàries de base amb principis d’integració i inclusió.
      </p>
      <p>
        L'any 2023 els ajuts aportats per l'ONG, uns 10000€ han aconseguit donar suport a que nois i noies amb pocs
        recursos econòmics de la zona hagin pogut realitzar colònies a la platja durant el mes de juliol amb altres
        nois del país.
      </p>
      <p>
        Les colònies duren 21 dies i es consideren un espai de convivència i aprenentatge de valors i actituds bàsiques
        per a un correcte desenvolupament dels joves.
      </p>

      <br>

      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/M6j9q-WYiYY?si=af4syoFJQxZn1d5_"
          title="Colònies Sam Sam"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

    </div>
  </body>
</html>

<app-footer></app-footer>
