<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El projecte | Amics d'en Ferran</title>
  </head>

  <body>
    <div class="container">
      <h2>En què consisteix el projecte?</h2>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/VjAs6Q6A7m8?si=JjpQN2QuDwKRQnuu"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>

      <br>

      <p>
        A l’octubre de 1990, Ferran Sans, escolapi i mestre de l’Escola Joan XXIII va marxar a terres africanes del
        Senegal a donar el seu suport. Actualment resideix al barri de Sam Sam 3 de la ciutat de Dakar, un barri humil
        amb infinitat de necessitats a cobrir.
      </p>

      <br>

      <h2>Objectius</h2>
      <div class="tabla-3-columnas">
        <div class="columna">
          <img src="/assets/images/elprojecte/imatge1.png" alt="Primera Caravana Solidària" height="584" width="891">
          <p>Primera Caravana Solidària, lliurant tot el material recollit per l’Ekkol Kalasans i el Centre de Formació
            Femení.</p>
        </div>
        <div class="columna">
          <img src="/assets/images/elprojecte/imatge2.png" alt="Educació a Senegal" height="585" width="897">
          <p>A Senegal l’educació és obligatòria pels nens i nenes d’entre 7 i 13 anys, però en realitat només
            assisteixen a classe el 69% a primària i el 15,9% a secundària.</p>
        </div>
        <div class="columna">
          <img src="/assets/images/elprojecte/imatge3.png" alt="Carrer de Sam Sam" height="584" width="894">
          <p>Aquest és un dels principals carrers de Sam Sam, però es que els carrers de Sam Sam no estan tractats ni
            asfaltats.</p>
        </div>
      </div>

      <br>

      <p>
        L’objectiu de Ferran a Sam Sam consisteix en l’alfabetització dels membres d’aquesta comunitat en la seva
        llengua materna, ensenyament, educació i estimulació de la promoció cultural, sanitària i econòmica pel
        progrés del barri i la ciutat.
      </p>

      <br>

      <div class="responsive-image-container">
        <img src="/assets/images/elprojecte/elprojecte-objectius.png"
             alt="Objectius del projecte">
      </div>

      <br>

      <p>
        Per tal d’ajudar a fer realitat aquests objectius, va sorgir l’ONG Amics d’en Ferran, que desde fa més de 20
        anys realitza accions culturals i educatives a la ciutat de Terrassa per tal de difondre el projecte i
        recaptar donatius solidaris que ajudin al seu finançament.
      </p>
    </div>
  </body>
</html>
