<app-header [title]="title"></app-header>

<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activitat 20251010 | Amics d'en Ferran</title>
</head>

<body>
<div class="container">
  <div class="responsive-image-container">
    <img src="/assets/images/activitats/activitat20251010/20251010_1.jpg"
         alt="Activitat 20251010">
    <img src="/assets/images/activitats/activitat20251010/20251010_2.jpg"
         alt="Activitat 20251010">
    <img src="/assets/images/activitats/activitat20251010/20251010_3.jpg"
         alt="Activitat 20251010">
  </div>
</div>
</body>
</html>

<app-footer></app-footer>
