<div class="menu-container">

  <ul class="menu-tabs">
    <li><a routerLink="/home">Inici</a></li>
    <li><a routerLink="/elprojecte">El projecte</a></li>
    <li><a routerLink="/activitats">Activitats</a></li>
    <li><a routerLink="/collabora">Col·labora</a></li>
    <li><a routerLink="/quiesenferran">Qui és en Ferran</a></li>
    <li><a routerLink="/galeria">Galeria</a></li>
    <li><a routerLink="/contacte">Contacte</a></li>
    <li><a routerLink="/aboutus">Sobre nosaltres</a></li>
  </ul>

  <div class="menu-button-container">
    <button class="menu-button" (click)="toggleMenu()" aria-label="Abrir menú">
      ☰ Menú
    </button>
  </div>

  <ul class="menu-dropdown" [class.show]="isMenuOpen">
    <li><a routerLink="/home" (click)="closeMenu()">Inici</a></li>
    <li><a routerLink="/elprojecte" (click)="closeMenu()">El projecte</a></li>
    <li><a routerLink="/activitats" (click)="closeMenu()">Activitats</a></li>
    <li><a routerLink="/collabora" (click)="closeMenu()">Col·labora</a></li>
    <li><a routerLink="/quiesenferran" (click)="closeMenu()">Qui és en Ferran</a></li>
    <li><a routerLink="/galeria" (click)="closeMenu()">Galeria</a></li>
    <li><a routerLink="/contacte" (click)="closeMenu()">Contacte</a></li>
    <li><a routerLink="/aboutus" (click)="closeMenu()">Sobre nosaltres</a></li>
  </ul>
</div>
